list > row:focus {
    background: #215d9c;
    outline: none;
}

list > row label {
    padding: 0.4em 0.9em;
}

entry {
    min-height: 0;
    padding: 0em 0.8em;
}

notebook > header.left > tabs > tab {
    min-height: 0;
    margin: 0;
    padding: 0.5em 1.2em;
    padding-right: 1.4em;
}
