window {
    font-size: calc(10pt * $DPI);
}

list > row:focus {
    background: #215d9c;
    outline: none;
}

list > row label {
    padding: calc(5pt * $DPI) calc(10pt * $DPI);
}

entry {
    min-height: 0;
    padding: calc(4pt * $DPI) calc(10pt * $DPI);
}

notebook > header.left > tabs > tab {
    min-height: 0;
    margin: 0;
    padding: calc(5pt * $DPI) calc(10pt * $DPI);
    padding-right: calc(15pt * $DPI);
}
